<div class="col-xl-12">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Menu Management
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">

            <div class="row">
                <div class="col-lg-5">
                    <div class="row">

                        <div class="col-lg-1">
                            <label>Status:</label>
                        </div>

                        <div class="col-lg-4 form-group">
                            <select [(ngModel)]="searchModel.status" (change)="selectStatus($event)"
                                class="form-control">
                                <option value="All" selected>All</option>
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>

                        <div class="col-lg-6 form-group">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input [(ngModel)]="searchModel.searchString" (keyup)="searchByString($event)"
                                    type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 form-group">
                    <div style="text-align: left; margin-top: 10px;">
                        <h5 class="fail_message" *ngIf="errorMessage!=''">{{errorMessage}}</h5>
                        <h5 class="success_message" *ngIf="successMessage!=''">{{successMessage}}</h5>
                    </div>
                </div>

                <div class="col-lg-1 m--align-right  m--margin-top-10-tablet-and-mobile">
                    <button type="button" (click)="openModalInInsertMode()" class="btn btn-primary 
                    btn-elevate btn-pill">
                        <i class="la la-plus"></i>
                        New</button>
                </div>
            </div>

            <div class="kt-form" style="overflow: auto;">

                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded">

                    <table class="kt-datatable__table">
                        <thead class="kt-datatable__head">
                            <tr class="kt-datatable__row">

                                <th (click)="sorting(1)" class="kt-datatable__cell kt-datatable__cell--sort {{col1}}">
                                    <span style="width: 133px; font-weight: bold;">ID<i class="las {{col1_arrow}}"></i></span>
                                </th>

                                <th (click)="sorting(2)" class="kt-datatable__cell kt-datatable__cell--sort  {{col2}}">
                                    <span style="width: 133px; font-weight: bold">Name<i class="las {{col2_arrow}}"></i></span>
                                </th>

                                <th  (click)="sorting(3)" class="kt-datatable__cell kt-datatable__cell--sort 
                                {{col3}}">
                                    <span style="width: 133px; font-weight: bold">
                                        Url<i class="las  {{col3_arrow}}"></i>
                                    </span>
                                </th>

                                <th  (click)="sorting(4)" class="kt-datatable__cell kt-datatable__cell--sort 
                                {{col4}}">
                                    <span style="width: 133px; font-weight: bold">
                                        Order<i class="las  {{col4_arrow}}"></i>
                                    </span>
                                </th>

                                <th  (click)="sorting(5)" class="kt-datatable__cell kt-datatable__cell--sort {{col5}}">
                                    <span style="width: 133px; font-weight: bold">Description<i class="las  {{col5_arrow}}"></i></span>
                                </th>

                                <th  (click)="sorting(6)" class="kt-datatable__cell kt-datatable__cell--sort {{col6}}">
                                    <span style="width: 133px; font-weight: bold">Status<i class="las  {{col6_arrow}}"></i></span>
                                </th>

                                <th  (click)="sorting(7)" class="kt-datatable__cell kt-datatable__cell--sort {{col7}}">
                                    <span style="width: 133px; font-weight: bold">Is Top Node<i class="las  {{col7_arrow}}"></i></span>
                                </th>

                                <th class="kt-datatable__cell kt-datatable__cell--sort">
                                    <span style="width: 110px; font-weight: bold">Actions</span>
                                </th>

                            </tr>
                        </thead>
                        <tbody class="kt-datatable__body">

                            <tr *ngFor="let item of list | paginate: pagingConfiguration" class="kt-datatable__row">

                                <td class="kt-datatable__cell">
                                    <span style="width: 133px;">{{ item.id }}</span>
                                </td>

                                <td class="kt-datatable__cell">
                                    <span style="width: 133px;">{{ item.name }}</span>
                                </td>

                                <td class="kt-datatable__cell">
                                    <span style="width: 133px;">{{ item.url }}</span>
                                </td>

                                <td class="kt-datatable__cell--sorted kt-datatable__cell">
                                    <span style="width: 133px;">{{ item.order }}</span>
                                </td>

                                <td class="kt-datatable__cell">
                                    <span style="width: 133px;">
                                        {{ item.description }}
                                    </span>
                                </td>

                                <td class="kt-datatable__cell">
                                    <span style="width: 133px;">

                                        <span *ngIf="item.status=='Active'"
                                            class="kt-badge  kt-badge--primary kt-badge--inline kt-badge--pill">
                                            {{ item.status }}
                                        </span>

                                        <span *ngIf="item.status!='Active'"
                                            class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill">
                                            {{ item.status }}
                                        </span>

                                    </span>
                                </td>

                                <td class="kt-datatable__cell">
                                    <span style="width: 133px;">
                                        <span *ngIf="item.isTopNode" class="kt-font-bold kt-font-success">True</span>
                                        <span *ngIf="!item.isTopNode" class="kt-font-bold kt-font-danger">False</span>
                                    </span>
                                </td>

                                <td class="kt-datatable__cell">
                                    <span style="overflow: visible; position: relative; width: 110px;">

                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">
                                                <i class="la la-cog"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">
                                                    <i class="la la-edit"></i> Edit Details</a>
                                                <a class="dropdown-item" href="#"><i class="la la-leaf"></i> Update
                                                    Status</a>
                                                <a class="dropdown-item" href="#"><i class="la la-print"></i> Generate
                                                    Report</a>
                                            </div>
                                        </div>

                                        <a (click)="openModalInUpdateMode(item.id)"
                                            class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit details">
                                            <i class="la la-edit"></i>
                                        </a>

                                        <a (click)="onDelete(item.id)" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Delete">
                                            <i class="la la-trash"></i>
                                        </a>

                                    </span>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <div class="kt-datatable__pager kt-datatable--paging-loaded">

                        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination">
                        </pagination-controls>

                        <div class="kt-datatable__pager-info">

                            <div class="dropdown bootstrap-select kt-datatable__pager-size dropup" style="width: 70px;">
                                <select [(ngModel)]="pagingConfiguration.itemsPerPage"
                                    (change)="selectItemPerPage($event)" class="form-control ">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>

                            <span class="kt-datatable__pager-detail">Showing
                                {{((pagingConfiguration.currentPage-1)*pagingConfiguration.itemsPerPage)+1}} -
                                {{((pagingConfiguration.currentPage*pagingConfiguration.itemsPerPage) >= pagingConfiguration.totalItems)? pagingConfiguration.totalItems: (pagingConfiguration.currentPage*pagingConfiguration.itemsPerPage)}}
                                of {{pagingConfiguration.totalItems}}</span>
                        </div>

                        <!-- <ul class="kt-datatable__pager-nav">

                            <li>
                                <a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first">
                                    <i class="las la-angle-double-left"></i>
                                </a>
                            </li>

                            <li>
                                <a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev">
                                    <i class="las la-angle-left"></i>
                                </a>
                            </li>

                            <li></li>

                            <li style="display: none;">
                                <input type="text" class="kt-pager-input form-control" title="Page number">
                            </li>

                            <li>
                                <a class="kt-datatable__pager-link kt-datatable__pager-link-number kt-datatable__pager-link--active"
                                    style=" font-weight: bold">1</a>
                            </li>

                            <li>
                                <a class="kt-datatable__pager-link kt-datatable__pager-link-number"
                                    style=" font-weight: bold">2</a>
                            </li>

                            <li>
                                <a class="kt-datatable__pager-link kt-datatable__pager-link-number"
                                    style=" font-weight: bold">3</a>
                            </li>

                            <li>
                                <a class="kt-datatable__pager-link kt-datatable__pager-link-number"
                                    style=" font-weight: bold">
                                    4</a>
                            </li>

                            <li>
                                <a class="kt-datatable__pager-link kt-datatable__pager-link-number"
                                    style=" font-weight: bold">5</a>
                            </li>

                            <li></li>

                            <li>
                                <a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next"
                                    style=" font-weight: bold">
                                    <i class="las la-angle-right"></i>
                                </a>
                            </li>

                            <li>
                                <a title="Last" class="kt-datatable__pager-link kt-datatable__pager-link--last"
                                    style=" font-weight: bold">
                                    <i class="las la-angle-double-right"></i>
                                </a>
                            </li>

                        </ul> -->

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{insertUpdateMessage}} Menu</h4>
                <a data-dismiss="modal" style="font-size: 1.5rem; cursor: pointer;">
                    <i class="la la-close"></i>
                </a>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form [formGroup]="entryForm">

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-margin-b-15">
                                <label for=name>Name</label>
                                <input type="text" id="name" formControlName="name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && entryFromControlStatus.name.errors }"
                                    placeholder="" />
                                <div *ngIf="submitted && entryFromControlStatus.name.errors" class="invalid-feedback">
                                    <div *ngIf="entryFromControlStatus.name.errors.required">Name is required</div>
                                    <div *ngIf="entryFromControlStatus.name.errors.maxlength">Name maximum length is 100
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="kt-margin-b-15">
                                <label for="description">Description</label>
                                <input type="text" formControlName="description" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && entryFromControlStatus.description.errors }" />
                                <div *ngIf="submitted && entryFromControlStatus.description.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="entryFromControlStatus.name.errors.maxlength">Description maximum length
                                        is 100</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-margin-b-15">
                                <label for="menuItemId">Menu Item</label>
                                <select formControlName="menuItemId" class="form-control">
                                    <option label="Select" value="" selected="selected">Select</option>
                                    <option *ngFor="let item of itemOne" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="kt-margin-b-15">
                                <label for="parentMenuId">Parent</label>
                                <select formControlName="parentMenuId" class="form-control">
                                    <option label="Select" value="" selected="selected">Select</option>
                                    <option *ngFor="let item of itemTwo" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="kt-margin-b-15">
                                <label for="order">Order</label>
                                <input numbersOnly type="text" formControlName="order" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && entryFromControlStatus.order.errors }" />
                                <div *ngIf="submitted && entryFromControlStatus.order.errors"
                                    class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="kt-margin-b-15">
                                <label for="status">Status</label>
                                <select formControlName="status" class="form-control">
                                    <option value="Active" >Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button [hidden]="!insertOperation" [disabled]="entryForm.invalid" (click)="onInsert()" type="button"
                    class="btn btn-primary 
                    btn-elevate btn-pill"> <i class="la la-save"></i> Save</button>
                <button [hidden]="insertOperation" [disabled]="entryForm.invalid" (click)="onUpdate()" type="button"
                    class="btn btn-primary btn-elevate btn-pill"> <i class="la la-save"></i> Update</button>
                <button type="button" class="btn btn-default 
                btn-elevate btn-pill" data-dismiss="modal"><i class="la la-close"></i>Close</button>
            </div>

        </div>
    </div>
</div>