<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Registration
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form">
                    <form [formGroup]="registrationForm">
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label for=fullName>Full Name</label>
                                <input type="text" id="fullName" formControlName="fullName" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && registrationFromControlStatus.fullName.errors }"
                                    placeholder="Enter Full Name" />
                                <div *ngIf="submitted && registrationFromControlStatus.fullName.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="registrationFromControlStatus.fullName.errors.required">Full Name is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=emailAddress>Email Address</label>
                                <input type="email" id="emailAddress" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && registrationFromControlStatus.email.errors }"
                                    aria-describedby="emailHelp" placeholder="Enter Email" />
                                <div *ngIf="submitted && registrationFromControlStatus.email.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="registrationFromControlStatus.email.errors.required">Email is required
                                    </div>
                                    <div *ngIf="registrationFromControlStatus.email.errors.email">Email must be a valid
                                        email address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" formControlName="password" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && registrationFromControlStatus.password.errors }" />
                                <div *ngIf="submitted && registrationFromControlStatus.password.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="registrationFromControlStatus.password.errors.required">Password is
                                        required</div>
                                    <div *ngIf="registrationFromControlStatus.password.errors.minlength">Password must
                                        be at least 6 characters</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox">
                                        <input formControlName="patientManagement" type="checkbox"> Patient Management
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox">
                                        <input formControlName="pharmacyManagement" type="checkbox"> Pharmacy Management
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <h5 class="fail_message" *ngIf="errorMessage!=''">{{errorMessage}}</h5>
                                <h5 class="success_message" *ngIf="successMessage!=''">{{successMessage}}</h5>
                            </div>

                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions" style="text-align: center;">
                                <button [disabled]="registrationForm.pristine || registrationForm.invalid"
                                    (click)="onRegistration()" type="button" class="btn btn-primary">Register</button>
                                <button (click)="goBack()" class="btn btn-secondary"
                                    style="margin-left: 1%;">Cancel</button>
                            </div>
                        </div>
                    </form>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>