<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-line-chart"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Reset Password
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form">
                    <form [formGroup]="resetPasswordForm" >                           
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" formControlName="newPassword" class="form-control"  
                                [ngClass]="{ 'is-invalid': submitted && resetPasswordFromControlStatus.newPassword.errors }" />
                                <div *ngIf="submitted && resetPasswordFromControlStatus.newPassword.errors" class="invalid-feedback">
                                    <div *ngIf="resetPasswordFromControlStatus.newPassword.errors.required">Password is required</div>
                                    <div *ngIf="resetPasswordFromControlStatus.newPassword.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" formControlName="confirmPassword" class="form-control"  
                                [ngClass]="{ 'is-invalid': submitted && resetPasswordFromControlStatus.confirmPassword.errors }" />
                                <div *ngIf="submitted && resetPasswordFromControlStatus.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="resetPasswordFromControlStatus.confirmPassword.errors.required">Password is required</div>
                                    <div *ngIf="resetPasswordFromControlStatus.confirmPassword.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>   
                            <div style="text-align: center;">
                                <h5 class="fail_message" *ngIf="errorMessage!=''">{{errorMessage}}</h5>
                                <h5 class="success_message" *ngIf="successMessage!=''">{{successMessage}}</h5>
                            </div>    
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions" style="text-align: center;">
                                <button [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid" 
                                (click)="resetPasswordConfirmation()" type="button" class="btn btn-primary">Reset</button>
                                <button (click)="goBack()"  class="btn btn-secondary" style="margin-left: 1%;">Cancel</button>
                            </div>
                        </div>
                    </form>                   
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>