<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Email Verification
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <label>A verification email sent to the <strong>{{emailAddress}}</strong> email address.</label>
                    <label>Please check your inbox and click on the verification link.</label>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>