<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  style="padding-top: 0px; padding-bottom: 0px; background-color: #4b0082 !important;">
  <a class="navbar-brand" class="nav-link" [routerLink]="['/']">
    <img class="img-fluid" src="../../../assets/images/logo.png" alt="Company Logo"></a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb"
    aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navb">
    
    <ul class="navbar-nav" style="margin-right: auto !important;">
      <li class="nav-item">
        <a class="nav-link back-end-header-menu-property" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link back-end-header-menu-property" [routerLink]="['/about']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link back-end-header-menu-property" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link back-end-header-menu-property" [routerLink]="['/pricing']">Pricing</a>
      </li>
    </ul>


    <a href="#"  (click)="logout()" class="btn btn-primary my-2 my-sm-0 back-end-header-button-property">Logout</a>
    <a [routerLink]="['/change-password']"  class="btn btn-danger my-2 my-sm-0 back-end-header-button-property" type="button">Chance Password</a>

  </div>
</nav>