.back-end-header-button-property{
    margin-left: 1%; 
    color: white !important;
}

.back-end-header-menu-property{
    color: white !important;
}

a:hover {
    color: gainsboro !important;
    
  }