<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  style="padding-top: 0px; padding-bottom: 0px; background-color: #4b0082 !important;">
  <a class="navbar-brand" class="nav-link" [routerLink]="['/']" 
  style="position: relative;
  z-index: 2;
  cursor: pointer">
    <img class="img-fluid" src="../../../assets/images/logo.png" alt="Company Logo"></a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb"
    aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navb">
    
    <ul class="navbar-nav" style="margin-left: auto !important;">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
      </li>
    </ul> 

    <a [routerLink]="['/login']" class="btn btn-primary my-2 my-sm-0 front-end-header-button-property">Login</a>
    <a [routerLink]="['/registration']" class="btn btn-danger my-2 my-sm-0 front-end-header-button-property" type="button">Free Registration</a>
  </div>
</nav>