<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Change Password
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form">
                    <form [formGroup]="changePasswordForm" >                           
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" formControlName="currentPassword" class="form-control"  
                                [ngClass]="{ 'is-invalid': submitted && changePasswordFromControlStatus.currentPassword.errors }"/>
                                <div *ngIf="submitted && changePasswordFromControlStatus.currentPassword.errors" class="invalid-feedback">
                                    <div *ngIf="changePasswordFromControlStatus.currentPassword.errors.required">Password is required</div>
                                    <div *ngIf="changePasswordFromControlStatus.currentPassword.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" formControlName="newPassword" class="form-control"                              
                                [ngClass]="{ 'is-invalid': submitted && changePasswordFromControlStatus.newPassword.errors }"/>
                                <div *ngIf="submitted && changePasswordFromControlStatus.newPassword.errors" class="invalid-feedback">
                                    <div *ngIf="changePasswordFromControlStatus.newPassword.errors.required">New Password is required</div>
                                    <div *ngIf="changePasswordFromControlStatus.newPassword.errors.minlength">New Password must be at least 6 characters</div>
                                </div>
                            </div>  
                            <div style="text-align: center;">
                                <h5 class="fail_message" *ngIf="errorMessage!=''">{{errorMessage}}</h5>
                                <h5 class="success_message" *ngIf="successMessage!=''">{{successMessage}}</h5>
                            </div>      
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions" style="text-align: center;">
                                <button [disabled]="changePasswordForm.pristine || changePasswordForm.invalid" (click)="changePassword()" type="button" class="btn btn-primary">Change Password</button>
                                <button (click)="goBack()"  class="btn btn-secondary" style="margin-left: 1%;">Cancel</button>
                            </div>
                        </div>
                    </form>                   
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>