<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-line-chart"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Login
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form">
                    <form [formGroup]="loginForm" >                           
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label for=emailAddress>Email Address</label>
                                <input type="email" id="emailAddress" formControlName="email" class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && loginFromControlStatus.email.errors }" aria-describedby="emailHelp"  
                                placeholder="Enter Email"/>
                                <div *ngIf="submitted && loginFromControlStatus.email.errors" class="invalid-feedback">
                                    <div *ngIf="loginFromControlStatus.email.errors.required">Email is required</div>
                                    <div *ngIf="loginFromControlStatus.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" formControlName="password" class="form-control"  
                                [ngClass]="{ 'is-invalid': submitted && loginFromControlStatus.password.errors }" />
                                <div *ngIf="submitted && loginFromControlStatus.password.errors" class="invalid-feedback">
                                    <div *ngIf="loginFromControlStatus.password.errors.required">Password is required</div>
                                    <div *ngIf="loginFromControlStatus.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>   
                            <div style="text-align: center;">
                                <h5 class="fail_message" *ngIf="errorMessage!=''">{{errorMessage}}</h5>
                                <h5 class="success_message" *ngIf="successMessage!=''">{{successMessage}}</h5>
                            </div>    
                        </div>
                        <div class="kt-portlet__foot">

                            <div class="kt-margin-b-10" style="text-align: center;">
                                <a [routerLink]="['/forget-password']" class="kt-link kt-login__link-forgot">
                                    Forgot Password ?
                                </a>
                            </div>   

                            
                            <div class="kt-form__actions" style="text-align: center;">
                                <button [disabled]="loginForm.pristine || loginForm.invalid" (click)="onLogin()" type="button" class="btn btn-primary">Login</button>
                                <button (click)="goBack()"  class="btn btn-secondary" style="margin-left: 1%;">Cancel</button>
                            </div>
                        </div>
                    </form>                   
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>