<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Reset Password
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <label>Your password successfully reset! <a class="nav-link" [routerLink]="['/']" class="kt-link kt-login__link-forgot">Back To Home</a></label>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>