<div class="col-xl-12">
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-line-chart"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Forget Password
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form">
                    <form [formGroup]="forgetPasswordForm">
                        <div class="kt-portlet__body">
                            <div class="form-group">
                                <label for=emailAddress>Email Address</label>
                                <input type="email" id="emailAddress" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && forgetPasswordFromControlStatus.email.errors }"
                                    aria-describedby="emailHelp" placeholder="Enter Email" />
                                <div *ngIf="submitted && forgetPasswordFromControlStatus.email.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="forgetPasswordFromControlStatus.email.errors.required">Email is required
                                    </div>
                                    <div *ngIf="forgetPasswordFromControlStatus.email.errors.email">Email must be a
                                        valid email address</div>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <h5 class="fail_message" *ngIf="errorMessage!=''">{{errorMessage}}</h5>
                                <h5 class="success_message" *ngIf="successMessage!=''">{{successMessage}}</h5>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions" style="text-align: center;">
                                <button [disabled]="forgetPasswordForm.pristine || forgetPasswordForm.invalid"
                                    (click)="resetPasswordRequest()" type="button" class="btn btn-primary">Reset</button>
                                <button (click)="goBack()" class="btn btn-secondary"
                                    style="margin-left: 1%;">Cancel</button>
                            </div>
                        </div>
                    </form>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-xl-4"></div>
    </div>
</div>