

.text-uppercase {
    text-transform: uppercase !important;
}

footer.page-footer a {
    color: #fff;
}

.blue {
    background-color: #2F4051 !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}

footer.page-footer {
    bottom: 0;
    color: #fff;
}